openapi: 3.1.0
servers:
  - url: https://api.vaquill.ai/v1
    description: Vaquill AI API v1
info:
  description: |
    Vaquill AI API provides AI-powered legal research capabilities with access to millions of US federal 
    and state court opinions, the complete US Code, CFR, and all 50 state statute codes. This API enables 
    developers to integrate advanced legal research, citation verification, and AI-grounded answers into 
    their applications.
    
    ### Key Features
    - **AI Legal Q&A**: Ask legal questions and get AI-generated answers grounded in real court judgments
    - **Case Law Search**: Search millions of federal and state court opinions with semantic search
    - **Statute Lookup**: Access the complete US Code, CFR, and all 50 state codes
    - **Citation Resolution**: Verify and resolve legal citations automatically
    - **Contract Review**: AI-powered contract analysis and review
    - **Chronology Builder**: Build timelines across legal documents
    
    ### Authentication
    API key required via Authorization header: Bearer <your-api-key>
    Get your API key from https://app.vaquill.ai
    
    ### Pricing
    Free tier: 500 credits/month. No enterprise contract required.
    See pricing at https://vaquill.ai/pricing for credit costs per endpoint.
    
    ### Data Coverage
    - 8M+ US federal and state court opinions
    - 1.35M+ statute sections (USC, CFR, 50-state codes)
    - U.S. Constitution, Federal Rules, Executive Orders
    - 51 US jurisdictions (50 states + federal)
    
  version: 1.0.0
  title: Vaquill AI API
  termsOfService: "https://vaquill.ai/terms"
  contact:
    name: Vaquill AI Support
    url: https://vaquill.ai/contact
    email: support@vaquill.ai
  license:
    name: Commercial
    url: "https://vaquill.ai/terms"
tags:
  - name: ask
    description: AI-powered legal Q&A
  - name: search
    description: Case law and statute search
  - name: statutes
    description: US Code and CFR lookup
  - name: citations
    description: Citation resolution and verification
  - name: contracts
    description: Contract review and analysis
paths:
  /ask:
    post:
      tags:
        - ask
      summary: Ask a legal question
      description: Ask a legal question in plain language and get an AI-generated answer grounded in real court judgments from 20M+ cases
      operationId: askLegalQuestion
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: The legal question to ask
                jurisdiction:
                  type: string
                  description: Optional jurisdiction filter (e.g., "federal", "california")
                  nullable: true
                mode:
                  type: string
                  enum: [standard, deep]
                  description: Research mode - standard for quick answers, deep for comprehensive research
                  default: standard
                include_citations:
                  type: boolean
                  description: Whether to include citation references in the answer
                  default: true
              required:
                - question
      responses:
        "200":
          description: AI-generated legal answer
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    description: The AI-generated legal answer
                  citations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Citation"
                  confidence:
                    type: number
                    format: float
                    description: Confidence score of the answer
                  credits_used:
                    type: integer
                    description: Number of credits used for this request
        "401":
          description: Invalid API key
        "429":
          description: Insufficient credits or rate limit exceeded
  /search/cases:
    post:
      tags:
        - search
      summary: Search case law
      description: Search millions of US federal and state court opinions using semantic search
      operationId: searchCases
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search query for case law
                jurisdiction:
                  type: string
                  description: Filter by jurisdiction
                  nullable: true
                court:
                  type: string
                  description: Filter by specific court
                  nullable: true
                date_range:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date
                    end:
                      type: string
                      format: date
                  nullable: true
                limit:
                  type: integer
                  description: Number of results to return
                  default: 10
                  maximum: 100
              required:
                - query
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/CaseResult"
                  total:
                    type: integer
                  credits_used:
                    type: integer
        "401":
          description: Invalid API key
        "429":
          description: Insufficient credits or rate limit exceeded
  /statutes/lookup:
    post:
      tags:
        - statutes
      summary: Lookup statute
      description: Look up specific statutes from US Code, CFR, or state codes
      operationId: lookupStatute
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                citation:
                  type: string
                  description: Statute citation (e.g., "18 U.S.C. § 1341")
                jurisdiction:
                  type: string
                  description: Jurisdiction (e.g., "federal", "california")
                  nullable: true
              required:
                - citation
      responses:
        "200":
          description: Statute details
          content:
            application/json:
              schema:
                type: object
                properties:
                  statute:
                    $ref: "#/components/schemas/Statute"
                  credits_used:
                    type: integer
        "401":
          description: Invalid API key
        "404":
          description: Statute not found
        "429":
          description: Insufficient credits or rate limit exceeded
  /statutes/search:
    post:
      tags:
        - statutes
      summary: Search statutes
      description: Search across US Code, CFR, and state codes
      operationId: searchStatutes
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search query for statutes
                jurisdiction:
                  type: string
                  description: Filter by jurisdiction
                  nullable: true
                code:
                  type: string
                  description: Filter by code (e.g., "usc", "cfr", "california")
                  nullable: true
                limit:
                  type: integer
                  description: Number of results to return
                  default: 10
                  maximum: 100
              required:
                - query
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/Statute"
                  total:
                    type: integer
                  credits_used:
                    type: integer
        "401":
          description: Invalid API key
        "429":
          description: Insufficient credits or rate limit exceeded
  /citations/resolve:
    post:
      tags:
        - citations
      summary: Resolve citation
      description: Resolve and verify legal citations to find corresponding cases or statutes
      operationId: resolveCitation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                citation:
                  type: string
                  description: Legal citation to resolve
                type:
                  type: string
                  enum: [case, statute, auto]
                  description: Type of citation, or auto for automatic detection
                  default: auto
              required:
                - citation
      responses:
        "200":
          description: Resolved citation
          content:
            application/json:
              schema:
                type: object
                properties:
                  resolved:
                    type: boolean
                  type:
                    type: string
                  result:
                    oneOf:
                      - $ref: "#/components/schemas/CaseResult"
                      - $ref: "#/components/schemas/Statute"
                  credits_used:
                    type: integer
        "401":
          description: Invalid API key
        "404":
          description: Citation not found
        "429":
          description: Insufficient credits or rate limit exceeded
  /contracts/analyze:
    post:
      tags:
        - contracts
      summary: Analyze contract
      description: AI-powered contract analysis and review
      operationId: analyzeContract
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contract_text:
                  type: string
                  description: Full text of the contract to analyze
                analysis_type:
                  type: string
                  enum: [risk_assessment, clause_extraction, summary, compliance_check]
                  description: Type of analysis to perform
                  default: risk_assessment
                jurisdiction:
                  type: string
                  description: Jurisdiction for legal context
                  nullable: true
              required:
                - contract_text
      responses:
        "200":
          description: Contract analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysis:
                    $ref: "#/components/schemas/ContractAnalysis"
                  credits_used:
                    type: integer
        "401":
          description: Invalid API key
        "429":
          description: Insufficient credits or rate limit exceeded
  /credits/balance:
    get:
      tags:
        - ask
      summary: Get credit balance
      description: Check your current API credit balance
      operationId: getCreditBalance
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer
                    description: Remaining credits
                  tier:
                    type: string
                    description: Current pricing tier
                  reset_date:
                    type: string
                    format: date
                    description: Date when credits reset
        "401":
          description: Invalid API key
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: vq_key_
      description: Vaquill AI API key from app.vaquill.ai
  schemas:
    Citation:
      type: object
      properties:
        case_name:
          type: string
        citation:
          type: string
        court:
          type: string
        year:
          type: integer
        url:
          type: string
          description: URL to view the full case
    CaseResult:
      type: object
      properties:
        case_name:
          type: string
        citation:
          type: string
        court:
          type: string
        year:
          type: integer
        jurisdiction:
          type: string
        decision_date:
          type: string
          format: date
        snippet:
          type: string
          description: Relevant excerpt from the case
        relevance_score:
          type: number
          format: float
          description: Semantic search relevance score
        url:
          type: string
    Statute:
      type: object
      properties:
        title:
          type: string
        citation:
          type: string
        jurisdiction:
          type: string
        code:
          type: string
          description: Code name (e.g., "USC", "CFR", "California Code")
        section:
          type: string
        text:
          type: string
          description: Full text of the statute
        url:
          type: string
    ContractAnalysis:
      type: object
      properties:
        summary:
          type: string
          description: Overall summary of the contract
        risks:
          type: array
          items:
            $ref: "#/components/schemas/Risk"
        clauses:
          type: array
          items:
            $ref: "#/components/schemas/Clause"
        recommendations:
          type: array
          items:
            type: string
    Risk:
      type: object
      properties:
        severity:
          type: string
          enum: [low, medium, high, critical]
        category:
          type: string
        description:
          type: string
        location:
          type: string
          description: Section or clause where risk is located
    Clause:
      type: object
      properties:
        type:
          type: string
          description: Type of clause (e.g., indemnification, termination, confidentiality)
        text:
          type: string
        location:
          type: string
security:
  - BearerAuth: []
